{% if site.category_tag_cloud %}
<section>
<h1>分类</h1>
<span class='categories_tag'> <a href='/blog/categories/android' style='font-size: 112.0%'>Android(1)</a>  <a href='/blog/categories/automatic' style='font-size: 112.0%'>Automatic(1)</a>  <a href='/blog/categories/codes' style='font-size: 160.0%'>Codes(5)</a>  <a href='/blog/categories/linux' style='font-size: 160.0%'>Linux(5)</a>  <a href='/blog/categories/matlab' style='font-size: 112.0%'>Matlab(1)</a>  <a href='/blog/categories/opencv' style='font-size: 124.0%'>Opencv(2)</a>  <a href='/blog/categories/sth' style='font-size: 148.0%'>Sth(4)</a>  <a href='/blog/categories/嵌入式' style='font-size: 124.0%'>嵌入式(2)</a>  <a href='/blog/categories/考研' style='font-size: 124.0%'>考研(2)</a> </span>
</section>
{% endif %}
