{% if site.category_sidebar %}
<section>
<h1>标签</h1>
<ul>
  <li><a href='/blog/categories/android'>Android (3)</a></li>
  <li><a href='/blog/categories/automatic'>Automatic (1)</a></li>
  <li><a href='/blog/categories/codes'>Codes (7)</a></li>
  <li><a href='/blog/categories/linux'>Linux (8)</a></li>
  <li><a href='/blog/categories/matlab'>Matlab (1)</a></li>
  <li><a href='/blog/categories/opencv'>Opencv (2)</a></li>
  <li><a href='/blog/categories/sth'>Sth (5)</a></li>
  <li><a href='/blog/categories/嵌入式'>嵌入式 (4)</a></li>
  <li><a href='/blog/categories/考研'>考研 (2)</a></li>
</ul>
</section>
{% endif %}
