{% if site.category_sidebar %}
<section>
<h1>分类</h1>
<ul>
  <li><a href='/blog/categories/android'>Android (1)</a></li>
  <li><a href='/blog/categories/automatic'>Automatic (1)</a></li>
  <li><a href='/blog/categories/codes'>Codes (5)</a></li>
  <li><a href='/blog/categories/linux'>Linux (5)</a></li>
  <li><a href='/blog/categories/matlab'>Matlab (1)</a></li>
  <li><a href='/blog/categories/opencv'>Opencv (2)</a></li>
  <li><a href='/blog/categories/sth'>Sth (4)</a></li>
  <li><a href='/blog/categories/嵌入式'>嵌入式 (2)</a></li>
  <li><a href='/blog/categories/考研'>考研 (2)</a></li>
</ul>
</section>
{% endif %}
