{% if site.category_tag_cloud %}
<section>
<h1>分类</h1>
<span class='categories_tag'> <a href='/blog/categories/automatic' style='font-size: 120.0%'>Automatic(1)</a>  <a href='/blog/categories/codes' style='font-size: 160.0%'>Codes(3)</a>  <a href='/blog/categories/linux' style='font-size: 160.0%'>Linux(3)</a>  <a href='/blog/categories/matlab' style='font-size: 120.0%'>Matlab(1)</a>  <a href='/blog/categories/opencv' style='font-size: 120.0%'>Opencv(1)</a>  <a href='/blog/categories/sth' style='font-size: 140.0%'>Sth(2)</a>  <a href='/blog/categories/嵌入式' style='font-size: 140.0%'>嵌入式(2)</a> </span>
</section>
{% endif %}
